.desc_container{
  margin-bottom: 23px;
}
.car_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  width: 100%;
  height: 360px;
  grid-gap: 20px;
}
.img_car {
  border: 1px solid #d9d9d9;
  border-radius: 15px 15px 0 0;
}
img{ 
  max-width: 100%;
}
.car_box_item {
  position: relative;
  width:445px;
  margin-bottom: 73px;
}
.car_box_item h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.car_box_item span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #595959;
}
.description {
  margin: 12px 0;
}
.description span {
  margin-right: 14px;
}
.btn_pay {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.btn_disable button {
  margin-top: 20px;
  margin-right: 25px;
}
.btn_pay button {
  margin-right: 25px;
  cursor: pointer;
}

.img_car_avaiability {
  border: 1px solid #d9d9d9;
  opacity: 0.3;
  border-radius: 15px 15px 0 0;
}
.availability_position {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffffff;
  padding: 15px 34px;
  border-radius: 15px;
}

.desc_item{
  display: flex;
}
.desc_item div {
  margin-right: 20px;
}
.desc_marg h3,h4,p,span{
  padding:10px 0 ;
}
.desc{
  max-width: 834px;
}
